<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Google Maps Multiple Markers</title>
</head>
<body onload="renderMap()">
    <div id="notion-map-google-map-render" style="width: 500px; height: 400px;"></div>
</body>
</html>