<input id="notion-map-id" type="hidden" value="{{this.id}}"/>
<div class="box">
    <div class="full-row header">
        <a id="notion-map-render-refresh-button" class="waves-effect btn">Refresh</a>
    </div>
    <div id="notion-map-google-map-render" class="full-row content">
    </div>
</div>