<main class="container">
    <h2>Map It Notion2</h2>
    <p class="row">
        Connect your Notion database to get a Google Maps with all the locations as pins! 
        Useful to create a personalized Map with all your location markers
    </p>
    <input id="notion-map-id" type="hidden" value="{{this.id}}"/>
    <div>
        <div id="notion-map-google-map-render" class="fill-to-parent"></div>
    </div>
    <br />
</main>