@import './layouts/main.scss';
@import '/css/highlight/atom-one-dark.css';
// @import '/css/highlight/github.css';
// @import '/css/highlight/monokai-sublime.css';
// @import '/css/highlight/vs2015.css';
// @import '/css/highlight/solarized-light.css';

.container-blog {
    margin: 0 auto;
    max-width: 900px;
    width: 90%; 
    word-wrap: break-word;
    
    .blog-date {
        color: $my-slate-color;
        font-size: 1.2em;
    }

    //// lists syntax ////
    ul {
        // @extend .browser-default;
        padding-left: 40px;
        li {
            list-style-type: circle;
        }
    }
    ol {
        padding-left: 40px;
        li {
            list-style-type: decimal;
        }
    }

    //// Syntax highlighting ////
    .hljs{
        color: $my-white-color;
        padding: 9.5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: $my-dark-color;
    
        code {
            font-size: 85%;
        }
    }
    p code, li code {
        // Taken from https://markdown-it.github.io/
        padding: 1px 5px;
        font-size: 90%;
        // color: #c7254e;
        // background-color: #f9f2f4;
        border-radius: 4px;
    
        color: $my-white-color;
        background-color: $my-dark-color;
    }
    
    //// Anchor links ////
    a {
        color: $my-cyan-color-dark;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    img {
        @extend .responsive-img;
    }

    #header {
        font-size: 2.2rem;
    }

    .blog-content {
        h3 {
            font-size: 1.2rem;
            font-weight: bold;
        }
        h5 {
            font-size: 1.15rem;
            font-weight: bold;
        }
    }

    @media only screen and (min-width: 601px) {
        .container-blog {
            width: 85%; 
        }
    
        .blog-content {
            font-size: 18px;
        }

        #header {
            font-size: 3.0rem;
        }

        .blog-date {
            font-size: 1.4rem;
        }

        .blog-content {
            h3 {
                font-size: 2.92rem;
                font-weight: initial;
            }
            h5 {
                font-size: 1.64rem;
                font-weight: initial;
            }
        }
    }
        
    @media only screen and (min-width: 993px) {
        .container-blog {
            width: 70%; 
        } 
    
        .blog-content {
            font-size: 21px;
        }

        #header {
            font-size: 4.2rem;
        }
    }    
}