@import './layouts/main.scss';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#home-body {
    #profile-background {
        background: url("/img/profile-background.jpg");
        background-size: cover;
        background-position: center;
    }

    #profile-header {
        text-align: center;
        
        #profile-description-group {
            position: relative;
        }

        #profile-picture {
            border-radius: 50%;
        }
    
        #profile-title-message {
            color: $my-slate-color;
            overflow: hidden;
            flex: 1 0 auto;
    
            .states, .occupations {
                position: relative;
                display: none;
            }
    
            .states {
                animation-delay: 0s;
                animation-duration: .2s;
            }
    
            .occupations {
                color: $secondary-color;
            }
    
            @keyframes expandUnderlineToFull {
                0% {
                    width: 0%;
                }
                100% {
                    width: 95%;
                }
            }

            .occupations:before {
                content : "";   
                position: absolute;
                left    : 2.5%;
                bottom  : -8px;
                height  : 1px;
                border-bottom: 4px solid $primary-color;
                animation: expandUnderlineToFull 3s ease-out 1s 1 forwards; 
            }
        }
    }

    #recent-highlights {
        .card .carousel-item{
            background-color: $my-dark-color;
            color: $my-white-color;
        }

        a {
            color: $my-cyan-color;
            -webkit-transition: color .1s ease-in;   
            transition: color .1s ease-in;    
        }

        a:hover {
            color: $my-cyan-color-darker;
        }
    }

    #projects {
        $project-row-height: 400px;

        .project-row {
            @extend .row;
            height: $project-row-height;
        }

        .col {
            height: 100%;
        }

        .projects-image {
            max-width: 100%;
            height: $project-row-height;
            overflow: hidden;
        }

        .projects-description-container {
            position: relative;
        }

        .projects-description-button-container {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px;
        }

        .projects-description-button {
            color: $my-white-color;
        }

        a {
            color: $my-dark-color;
            -webkit-transition: color .1s ease-in;   
            transition: color .1s ease-in;   
        }

        a:hover {
            color: $my-slate-color;
        }
    }

    @media only screen and (min-width: 320px) {
        #profile-background {
            height: 300px;
        }
    }

     @media only screen and (min-width: 481px) {
        #profile-background {
            height: 400px;
        }

        #profile-header {
            $picture-offset: -150px;

            #profile-description-group {
                top: $picture-offset;
                margin-bottom: $picture-offset;
            }
    
            #profile-name {
                margin-top: 0px;
                margin-bottom: 5px;
            }
    
            #profile-job {
                font-size: 25px;
                margin-bottom: 20px;
            }
    
            #profile-picture {
                border: 5px #FFF solid;
                height: 200px;
                width: 200px;
            }
        
            #profile-title-message {
                font-size: 2.2em;               
                margin: 0;
                height: 1.5em;
            }
        }

        #recent-highlights {
            .card {
                height: 450px;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        #profile-background {
            height: 400px;
        }

        #profile-header {
            $picture-offset: -150px;

            #profile-description-group {
                top: $picture-offset;
                margin-bottom: $picture-offset;
            }
    
            #profile-name {
                margin-top: 0px;
                margin-bottom: 5px;
            }
    
            #profile-job {
                font-size: 25px;
                margin-bottom: 20px;
            }
    
            #profile-picture {
                border: 5px #FFF solid;
                height: 200px;
                width: 200px;
            }
        
            #profile-title-message {
                font-size: 2.2em;               
                margin: 0;
                height: 1.5em;
            }
        }

        #recent-highlights {
            .card {
                height: 450px;
            }
        }
    }

    @media only screen and (min-width: 992px) {
        #recent-highlights {
            .card {
                height: 200px;
            }
        }
    }

    @media only screen and (min-width: 1000px) {
        #profile-background {
            height: 450px;
        }
    }
    
    @media only screen and (min-width: 1281px) {
        #profile-background {
            height: 500px;
        }
    }
}