@import './layouts/main.scss';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#home-body {
    overflow: hidden;
    flex: 1 0 auto;

    @keyframes expandUnderlineToFull {
        0% {
            width: 0%;
        }
        100% {
            width: 95%;
        }
    }

    #profile-background {
        text-align: center;
        background: url("/img/profile-background.jpg");
        background-size: cover;
        background-position: center;
        height: 300px;
    }

    #profile-picture {
        margin-top: 150px;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 5px #FFF solid;
    }

    #profile-title {
        margin-top: 0px;
    }

    #profile-title-message {
        font-size: 4.0em;               
        margin: 1.68rem 0 1.68rem 0;
        color: $my-slate-color;
        height: 1.1em;

        .states, .occupations {
            position: relative;
            display: none;
        }

        .states {
            animation-delay: 0s;
            animation-duration: .2s;
        }

        .occupations {
            color: $secondary-color;
        }

        .occupations:before {
            content : "";   
            position: absolute;
            left    : 2.5%;
            bottom  : -8px;
            height  : 1px;
            border-bottom: 4px solid $primary-color;
            animation: expandUnderlineToFull 3s ease-out 1s 1 forwards; 
        }
    }

    #details-card {
        @extend .center;
        background-color: $my-dark-color;
        color: $my-white-color;
        padding: 100px 20px;
    }
}