<main>
    <div class="container-blog">
        <h3>{{page.title}}</h3>
        <div class="blog-date">{{page.dateString}}</div>
        <div class="blog-content flow-text">
            {{{page.html}}}
        </div> 
    </div>
</main>