<main>
    <div class="container-blog">
        <h1 class="m-b-0">{{page.title}}</h1>
        <div class="blog-date">{{page.dateString}}</div>
        <div class="blog-content flow-text">
            {{{page.html}}}
        </div>
        <div id="disqus_thread"></div>
    </div>
</main>
<script>
    var disqus_config = function () {
        this.page.identifier = '{{{page.url}}}';
    };
</script>