<main>
    <div class="container">
        <h2>Blogs</h1>
        {{!-- {{#each}}
        {{/each}} --}}
        <ul class="blogs-list">
            <li>
                <span class="blogs-date">Jul 18, 2018 - iOS</span>
                <h4 class="m-t-0">
                    <a class="blogs-link" href="/blogs">
                        First Post!
                    </a>
                </h4>
            </li>
            <li>
                <span class="blogs-date">Jul 18, 2018 - iOS</span>
                <h4 class="m-t-0">
                    <a class="blogs-link" href="/blogs">
                        First Post!
                    </a>
                </h4>
            </li>
        </ul>
    </div>
</main>