<main>
    <div class="container">
        <h2>Blog</h2>
        <p>
            Yup. Another associate software developer's blog. 
        </p>
        <ul class="blog-list">
            {{#each pages}}
            <li>
                <span class="blog-date">{{this.dateString}} - {{this.category}}</span>
                <h4 class="m-t-0">
                    <a class="blog-link" href="blog/{{this.url}}">
                        {{this.title}}
                    </a>
                </h4>
            </li>
            {{/each}}
        </ul>
    </div>
</main>