<main>
    <div class="container">
        <h1 class="center">Credits</h1>
        <h3>Icons &amp; Images</h3>

        <ul class="browser-default">
            <li>
                Objective-C and Java skill icons made by
                <a href="https://www.iconfinder.com/strokeicon" title="strongicon">strongicon</a>
                from
                <a href="https://www.iconfinder.com" title="iconfinder">www.iconfinder.com</a>
                is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>
        </ul>
        <ul class="browser-default">
            <li>
                JavaScript skill icon made by
                <a href="https://www.iconfinder.com/Sennerstad" title="Erik Eliasson">Erik Eliasson</a>
                from
                <a href="https://www.iconfinder.com" title="iconfinder">www.iconfinder.com</a>
                is free for commercial use (with link to author)
            </li>
        </ul>
        <ul class="browser-default">
            <li>
                UCI logo from 
                <a href="https://communications.uci.edu/campus-resources/graphic-standards/wordmarks/index.php" title="UCI">UCI official website</a>
            </li>
        </ul>
    </div>
</main>