<!DOCTYPE html>
<html>
<head>
    <title>David Moe</title>
    <%- include('partials/_head.ejs') %>
</head>
<body>
    <%- include('partials/_header.ejs') %>

    

    <%- include('partials/_footer.ejs') %>
    <%- include('partials/_scripts.ejs') %>
</body>
</html>
