<main id="home-body">
    <div class="container">
            <div class="row-m-b-0 center">
                <h1 id="title">
                    I
                    <div id="state-1" class="states">
                        am a
                    </div>
                    <div id="occupation-1" class="occupations">
                        Backend Developer
                    </div>
                     <div id="occupation-2" class="occupations" style="display: none">
                        Frontend Developer
                    </div>
                </h1>
            </div>
             <div id="details-card" class="card animated bounceInLeft">
                Test Card
            </div>
            {{!-- <div class="row-m-b-0 center"> --}}
                 {{!-- <i class="material-icons">face</i> --}}
            {{!-- </div> --}}
    </div>
</main>
