<main class="hljs">
    <div class="container">
    {{#if didError }}
        <h2>Uh oh...</h2>
        <p>
            Could not grab the contents of the URL. Please check:
            <ul class="browser-default">
                <li>that the URL path is correct</li>
                <li>if that still doesn't work, the content in the website might not be formatted nicely for us to extract</li>
            </ul>
        </p>
        <div class="row">
            <button class="btn waves-effect waves-light" onclick="window.location.href='/read'">Back
                <i class="material-icons left">arrow_back</i>
            </button>
        </div>
    {{else}}
        <h2>{{ textTitle }}</h2>
        <div class="flow-text">
            {{#each textParagraphs}}
            <p>{{ this }}</p>
            {{/each}}
        </div>
        <div class="divider"></div>
        <p class="center">This is the end of the page</p>
        {{#if nextPageLink }}
        <div class="row center">
            <button class="btn waves-effect waves-light" onclick="window.location.href='/read?url={{ nextPageLink }}'">Next
                <i class="material-icons right">arrow_forward</i>
            </button>
        </div>
        {{/if}}
    {{/if}}
    </div>
</main>