<main>
    <div class="container">
        <h2>Read Tool</h2>
        <p>
            This tool extracts the text content of a given URL so we can apply dark mode to read easier at night, tap to scroll, and find the next page if it exists.
            It also has the ability to automatically scroll page based on your reading speed, automatically navigate to the next page, and open the original link.
        </p>
        <div class="row">
            <div class="input-field col s12">
                <input id="url" placeholder="URL of the website that contains the text" type="url" class="validate">
                <label for="url">Article/Text URL</label>
                <span class="helper-text" data-error="Please enter a valid URL"></span>
            </div>
        </div>
        <div class="row">
            <label class="col s6">
                <input id="autoscroll-read" type="checkbox"/>
                <span>Automatically scroll based on reading speed</span>
            </label>
            <div class="input-field col s6">
                <input id="words-per-minute" placeholder="270" type="number" class="validate">
                <label for="words-per-minute">Reading Speed (WPM)</label>
                <span class="helper-text" data-error="Please enter a valid number"></span>
            </div>
        </div>
        <div class="row">
            <label class="col s6">
                <input id="autoscroll-text-to-speech" type="checkbox"/>
                <span>Automatically scroll with text to speech</span>
            </label>
            <div class="range-field col s6">
                <label for="text-to-speech-rate">Text-to-Speech Rate</label>
                <input id="text-to-speech-rate" value="50" type="range" min="1" max="100">
            </div>
        </div>
        <div class="row">
            <label class="col s12">
                <input id="autoload-next" type="checkbox"/>
                <span>Automatically load next page</span>
            </label>
        </div>
        <div class="row">
            <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</main>