@import '../materialize.scss';

.m-t-0 {
    margin-top: 0;
}

.m-l-2 {
    margin-left: 2em;
}

.m-r-2 {
    margin-right: 2em;
}

.row-m-b-0 {
    @extend .row;
    margin-bottom: 0em;
}

.container-med {
    @extend .container;
    width: 80%;
}

.container-sm {
    @extend .container;
    width: 95%;
}

header {
    nav {
        background-color: $my-white-color;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2)
    }
    
    .nav-wrapper {
        @extend .container-sm;

        a {
            -webkit-transition: background-color .1s ease-in;   
            transition: background-color .1s ease-in; 
        }
    }
}

.page-footer {
    a {
        color: $my-cyan-color;
        -webkit-transition: color .1s ease-in;   
        transition: color .1s ease-in;    
    }

    a:hover {
        color: $my-cyan-color-darker;
    }

    .footer-copyright {
        font-size: 0.8em;
    }
}