@import '../materialize.scss';

.m-t-0 {
    margin-top: 0;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-l-2 {
    margin-left: 2em;
}

.m-r-2 {
    margin-right: 2em;
}

.row-m-b-0 {
    @extend .row;
    margin-bottom: 0em;
}

// body {
//     overflow-y: overlay;
// }

header {
    .slideOutUp {
        -webkit-animation: slideOutUp 0.4s; /* Safari 4+ */
        -moz-animation:    slideOutUp 0.4s; /* Fx 5+ */
        -o-animation:      slideOutUp 0.4s; /* Opera 12+ */
        animation:         slideOutUp 0.4s; /* IE 10+, Fx 29+ */
    }
    .slideInDown {
        -webkit-animation: slideInDown 0.4s; /* Safari 4+ */
        -moz-animation:    slideInDown 0.4s; /* Fx 5+ */
        -o-animation:      slideInDown 0.4s; /* Opera 12+ */
        animation:         slideInDown 0.4s; /* IE 10+, Fx 29+ */
    }

    nav {
        background-color: $my-white-color;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2)
    }
    
    .nav-wrapper {
        @extend .container;

        a {
            -webkit-transition: background-color .1s ease-in;   
            transition: background-color .1s ease-in; 
        }
    }

    @media only screen and (min-width: 601px) and (max-width: 991px) {
        // nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        //     line-height: inherit;
        // }
        .hamburger-menu {
            position: relative;
            top: -13px;
            max-height: 55px;
        }
    }
}

.page-footer {
    a {
        color: $my-cyan-color;
        -webkit-transition: color .1s ease-in;   
        transition: color .1s ease-in;    
    }

    a:hover {
        color: $my-cyan-color-darker;
    }

    .footer-copyright {
        font-size: 0.8em;
    }
}

