<input id="recurring-events-id" type="hidden" value="{{this.id}}"/>
<div class="box">
    <div class="full-row header">
        <a id="embed-sync-button" class="waves-effect btn">Sync Events</a>
    </div>
</div>
