<main class="container">
    <div class="center">
        <h2 class="center">
            Recurring Events Configuration Not Found
        </h2>
        <div>
            <img src="/media/img/error.gif" alt="error gif" width="40%">
        </div>
        <a class="row waves-effect waves-light btn-small" href="/recurring-events">Add it here</a>
    </div>
</main>
