<main class="container">
    <h2>Randomize Order</h2>
    <p>
        Re-arrange a list of items in a random order.
    </p>
    <p class="divider"></p>
    {{!-- This gets populated from JavaScript --}}
    <div class="randomize-order-input-list-items"></div>
    <div class="randomize-order-result-list-items"></div>
    <div class="row">
        <button id="randomize-order-button-add" class="waves-effect waves-light btn">Add
            <i class="material-icons left">add</i>
        </button>
        <button id="randomize-order-button-randomize" class="waves-effect waves-light btn right">Randomize
            <i class="material-icons right">casino</i>
        </button>
    </div>
    </div>
</main>