<main class="container">
    <h2>Randomize Order</h2>
    <p>
        Re-arrange a list of items in a random order.
    </p>
    <div class="divider"></div>
    {{!-- This gets populated from JavaScript --}}
    <div class="randomize-order-input-list-players"></div>
    <div class="row">
        <a id="randomize-order-button-add" class="waves-effect waves-light btn">Add</a>
        <a id="randomize-order-button-randomize" class="waves-effect waves-light btn right">Randomize</a>
    </div>
</main>