@import '../../../global/scss/layouts/main';
@import '/css/highlight/atom-one-dark.css';

.reading-area {
    @extend .center;
    line-height: 0;
    user-select: none;

    img {
        max-width: 100%;
    }
}
