@import '../../../global/scss/layouts/main';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#home-body {
    #profile-background {
        background: url("/index/media/profile-background.jpg");
        background-size: cover;
        background-position: center;
    }

    #profile-header {
        text-align: center;
        
        #profile-description-group {
            position: relative;
        }

        #profile-picture {
            border-radius: 50%;
        }

        #profile-name {
            margin-top: 0px;
            margin-bottom: 5px;
        }

        #profile-job {
            font-size: 25px;
            margin-bottom: 20px;
        }
    
        #profile-title-message {
            color: $my-slate-color;
            overflow: hidden;
            flex: 1 0 auto;
    
            .states, .occupations {
                position: relative;
                display: none;
            }
    
            .states {
                animation-delay: 0s;
                animation-duration: .2s;
            }
    
            .occupations {
                color: $secondary-color;
            }
    
            @keyframes expandUnderlineToFull {
                0% {
                    width: 0%;
                }
                100% {
                    width: 95%;
                }
            }

            .occupations:before {
                content : "";   
                position: absolute;
                left    : 2.5%;
                bottom  : -8px;
                height  : 1px;
                border-bottom: 4px solid $primary-color;
                animation: expandUnderlineToFull 3s ease-out 1s 1 forwards; 
            }
        }
    }

    #recent-highlights {
        .card {
            background-color: $my-dark-color;
            color: $my-white-color;
            height: 450px;
        }

        a {
            color: $my-cyan-color;
            -webkit-transition: color .1s ease-in;   
            transition: color .1s ease-in;    
        }

        a:hover {
            color: $my-cyan-color-darker;
        }

        .carousel {
            display: none;

            .carousel-item {
                background-color: $my-dark-color;
                color: $my-white-color;
                padding: 0px 15px;
            }

            .carousel-img-container {
                height: 100%;
            }

            .carousel-img {
                max-width: 100%;
                max-height: 100%;
            }

            .carousel-description-container {
                height: 100%;
                position: relative;
            }

            .carousel-description-button-container {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 10px;
            }
        }
    }

    #projects {
        $project-row-height: 250px;

        .project-row {
            @extend .row;
            height: $project-row-height;
        }

        .col {
            height: 100%;
        }

        .projects-image {
            max-width: 100%;
            max-height: $project-row-height;
            overflow: hidden;
        }

        .projects-description-button {
            color: $my-white-color;
        }

        a {
            color: $my-dark-color;
            -webkit-transition: color .1s ease-in;   
            transition: color .1s ease-in;   
        }

        a:hover {
            color: $my-slate-color;
        }
    }

    .carousel  {
        .carousel-row {
            height: 250px;
        }
    }

    @media only screen and (min-width: 320px) {
        #profile-background {
            height: 300px;
        }

        #profile-header {
            $picture-offset: -75px;

            #profile-description-group {
                top: $picture-offset;
                margin-bottom: $picture-offset;
            }
    
            #profile-picture {
                border: 3px #FFF solid;
                height: 125px;
                width: 125x;
            }
        
            #profile-title-message {
                font-size: 1.6em;               
                margin: 0;
                height: 2.6em;
            }
        }
    }

    @media only screen and (min-width: 420px) {
        #profile-header {
            $picture-offset: -100px;

            #profile-description-group {
                top: $picture-offset;
                margin-bottom: $picture-offset;
            }
    
            #profile-picture {
                border: 3px #FFF solid;
                height: 150px;
                width: 150px;
            }
        
            #profile-title-message {
                font-size: 1.8em;               
                margin: 0;
                height: 2.6em;
            }
        }
    }

     @media only screen and (min-width: 600px) {
        #profile-header {
            $picture-offset: -150px;

            #profile-description-group {
                top: $picture-offset;
                margin-bottom: $picture-offset;
            }
    
            #profile-picture {
                border: 5px #FFF solid;
                height: 200px;
                width: 200px;
            }
        }

        #projects {
            .projects-description-container {
                position: relative;
            }
    
            .projects-description-button-container {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 10px;
            }
        }

        #education {
            .education-year {
                font-size: 1.4em;
            }
        }

        .show-on-small {
            display: none;
        }
    }

    @media only screen and (min-width: 708px) {
        #profile-background {
            height: 400px;
        }

        #profile-header {
            #profile-title-message {
                font-size: 2.2em;               
                margin: 0;
                height: 1.5em;
            }
        }
    }

    @media only screen and (min-width: 1000px) {
        #profile-background {
            height: 450px;
        }
    }
    
    @media only screen and (min-width: 1281px) {
        #profile-background {
            height: 500px;
        }
    }
}