@import '../../../global/css/layouts/main';

.notion-map-list {

    li {
        margin-bottom: 30px;
    }

    .notion-map-link {
        color: $my-dark-color;
        font-size: 1.4rem;
    }

    .notion-map-link:hover {
        text-decoration: underline;
    }

    @media only screen and (min-width: 601px) {
        .notion-map-link {
            font-size: 1.7rem;
        }
    }

    @media only screen and (min-width: 993px) {
        .notion-map-link {
            font-size: 2.28rem;
        }
    }

}

.modal.bottom-sheet {
    max-height: 60%;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.5);
    z-index: 2;

    // Center
    display: none;
    align-items: center;
    justify-content: center
}

.fill-to-parent {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    width: 100%;
}

// https://stackoverflow.com/a/24979148
html,
body {
    height: 100%;
    margin: 0;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;

    .full-row.header {
        flex: 0 1 40px;
    }

    .full-row.content {
        flex: 1 1 auto;
    }
}

.custom-map-control-button {
    color: $my-dark-color;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
}

.custom-map-control-button:hover {
    background: rgb(235, 235, 235);
}