@import '../../../../global/scss/layouts/main';
@import '/css/highlight/atom-one-dark.css';

$fixed-play-btn-height: 40px; 
$fixed-play-btn-width: 240px;
$shift-pixel: 8px;

// Modal Bottom Sheet Style
.modal.bottom-sheet {
    max-height: 55%;
}

.active-paragraph {
    background-color: $my-dark-color;
}

#fixed-controls-bar-container {
    width: $fixed-play-btn-width;
    height: $fixed-play-btn-height;

    display: flex;
    position: fixed;
    left: 50%;
    bottom: 23px; 
    margin: 0 auto;
    margin-left: -($fixed-play-btn-width / 2);
    z-index: 1;

    border-radius: 18px;
    overflow: hidden;

    .fixed-controls-bar-button {
        flex-grow: 1;
        height: $fixed-play-btn-height;
        line-height: $fixed-play-btn-height;
        vertical-align: text-bottom;
    }

    .animated {
        animation-duration: 0.3s !important;
    }

    @-webkit-keyframes shift-left {
        from,
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
      
        0% {
            -webkit-transform: translate3d(-$shift-pixel, 0, 0);
            transform: translate3d(-$shift-pixel, 0, 0);
        }
      
        100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
      
    @keyframes shift-left {
        from,
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
      
        0% {
            -webkit-transform: translate3d(-$shift-pixel, 0, 0);
            transform: translate3d(-$shift-pixel, 0, 0);
        }
      
        100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
      
    .shift-left {
        -webkit-animation-name: shift-left;
        animation-name: shift-left;
    }

    @-webkit-keyframes shift-right {
        from,
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
      
        0% {
            -webkit-transform: translate3d($shift-pixel, 0, 0);
            transform: translate3d($shift-pixel, 0, 0);
        }
      
        100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
      
    @keyframes shift-right {
        from,
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
      
        0% {
            -webkit-transform: translate3d($shift-pixel, 0, 0);
            transform: translate3d($shift-pixel, 0, 0);
        }
      
        100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
      
    .shift-right {
        -webkit-animation-name: shift-right;
        animation-name: shift-right;
    }
}